/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.encabezado {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side, .right-side {
    width: 45%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}

.botones-right {
    margin-top: 20px;
}
.botones-left {
    margin-top: 20px;
}
button {
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#texto-salida {
    background-color: #f0f0f0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .formulario {
        flex-direction: column;
    }
    .left-side, .right-side {
        width: 100%;
    }
    .botones {
        margin-top: 10px;
    }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .formulario {
        flex-direction: row;
    }
    .left-side, .right-side {
        width: 45%;
    }
}

/* Estilos para computadoras */
@media (min-width: 1025px) {
    .formulario {
        flex-direction: row;
    }
    .left-side, .right-side {
        width: 45%;
    }
}